@import './variables';

h1 {
    font-size: 58px;
    font-weight: bolder;
    font-family: 'LilitaOne';
    color: $blue-dark;
}

@font-face {
    font-family: 'LilitaOne';
    src: url('./assets/fonts/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

.font-lilita-one {
    font-family: 'LilitaOne';
}

.fs-xx-large {
    font-size: xx-large;
}

.fs-x-large {
    font-size: x-large;
}

.fs-large {
    font-size: large;
}

.fw-bold {
    font-weight: 800;
}