$blue-light: #DCE8FF;
$blue-light-transparent: #dce8ffaa;
$blue-main: #0C65E8;
$blue-dark: #052D69;
$yellow-main: #FFDD1C;
$blue-gray: #ACBAD4;
$gray-main: #ABABAB;
$gray-light: #CCCCCC;
$gray-dark: #898989;


