@import './styles/flex';
@import './styles/space';
@import './styles/typography';
@import './styles/colors';
@import './styles/positions';
@import './styles/dimensions';

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'OpenSans';
    font-size: large;
}

footer {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
}
